<div
  class="mat-mdc-text-field-wrapper mdc-text-field ng-tns-c2608167813-116 mdc-text-field--filled"
>
  <div
    class="mat-mdc-form-field-focus-overlay ng-tns-c2608167813-116 ng-star-inserted"
  ></div>
  <!---->
  <div class="mat-mdc-form-field-flex ng-tns-c2608167813-116">
    <!----><!----><!---->
    <div class="mat-mdc-form-field-infix ng-tns-c2608167813-116">
      <label
        matformfieldfloatinglabel=""
        class="mdc-floating-label mat-mdc-floating-label ng-tns-c2608167813-116 ng-star-inserted"
        id="mat-mdc-form-field-label-148"
        for="mat-input-54"
        ><mat-label _ngcontent-ng-c971032686="" class="ng-tns-c2608167813-116"
          >Enter your password</mat-label
        ><!----></label
      ><!----><!----><!----><input
        _ngcontent-ng-c971032686=""
        matinput=""
        class="mat-mdc-input-element ng-tns-c2608167813-116 mat-mdc-form-field-input-control mdc-text-field__input cdk-text-field-autofill-monitored"
        type="password"
        id="mat-input-54"
        aria-invalid="false"
        aria-required="false"
      />
    </div>
    <!---->
    <div
      class="mat-mdc-form-field-icon-suffix ng-tns-c2608167813-116 ng-star-inserted"
    >
    </div>
    <!---->
  </div>
  <div
    matformfieldlineripple=""
    class="mdc-line-ripple ng-tns-c2608167813-116 mdc-line-ripple--deactivating ng-star-inserted"
  ></div>
  <!---->
</div>
