<mat-toolbar>
  <span>Wellness Center</span>
  <div
    _ngcontent-ng-c3270435185=""
    class="docs-example-viewer-body ng-star-inserted"
  >
       <mat-menu
        xposition="before"
        class="ng-tns-c1967311527-222 ng-star-inserted"
        ><!----></mat-menu
      ><button
        mat-button=""
        class="mat-mdc-menu-trigger mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base"
        mat-ripple-loader-class-name="mat-mdc-button-ripple"
        aria-haspopup="menu"
        aria-expanded="false"
      >
        <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span
        ><span class="mdc-button__label">After</span
        ><span class="mat-mdc-focus-indicator"></span
        ><span class="mat-mdc-button-touch-target"></span
        ><span class="mat-ripple mat-mdc-button-ripple"></span></button
      ><!---->
  </div>
</mat-toolbar>
<app-sidenav></app-sidenav>
