<div class="mat-mdc-form-field-infix ng-tns-c2608167813-93">
  <label
    matformfieldfloatinglabel=""
    class="mdc-floating-label mat-mdc-floating-label ng-tns-c2608167813-93 ng-star-inserted"
    id="mat-mdc-form-field-label-118"
    for="mat-input-42"
    ><mat-label _ngcontent-ng-c114953736="" class="ng-tns-c2608167813-93"
      >Login</mat-label
    ><span
      aria-hidden="true"
      class="mat-mdc-form-field-required-marker mdc-floating-label--required ng-tns-c2608167813-93 ng-star-inserted"
    ></span
    ><!----></label
  ><!----><!----><!----><input
    _ngcontent-ng-c114953736=""
    type="email"
    matinput=""
    class="mat-mdc-input-element ng-tns-c2608167813-93 ng-pristine ng-invalid mat-mdc-form-field-input-control mdc-text-field__input cdk-text-field-autofill-monitored ng-touched"
    aria-describedby="mat-mdc-error-4"
    id="mat-input-42"
    required=""
    aria-required="true"
  />
</div>
